.calculadora{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgb(67, 67, 20);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-image: linear-gradient(rgb(245, 245, 220),rgba(240, 255, 255));
    border: 1px solid #512f2f;
    border-radius: 10%;
    padding: 40px;

}/*Fechamento calculadora*/ 

.tela{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 5rem;
    height: 5rem;
    margin-bottom: 100px;
    border: 2px solid #ffffff;
    padding:20px;
    width: 100PX;
    background-color: #00a2ff;
    color: #450707;
}

.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha{
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
}
.operador{
    background-color:  rgb(0, 238, 255);
    color: rgb(58, 22, 22);
    border: 1px solid #000000;
}/*Fechamento operadores*/

.outros{
    background-color: rgb(0, 238, 255);
    color: rgb(58, 22, 22);
    border: 1px solid #000000;
}/*Fechamento outros*/

button{
    width: 50px;
    height: 50px;
    margin: 5px;
}/*Fechamento button*/

button:last-child{
    margin-rgth: 0;
}

button:hover{
    background-color: aqua;
    color: rgb(0, 0, 0);
}